%h1
  =image_tag("date.png", :border=>0)
  Youth Conferences




.seperator_more

%table#events
  -for event in @events
    %tr{:class => "vevent " + if_old(event.event_date) + cycle(" even", " odd")}        
      %td.summary= link_to truncate(event.name, :length => 30), event, :title => event.name, :class => "url"
      %td.category= h event.event_type
      %td.dtstart= h format_date(event.event_date)
      -#%td= h event.description
      %td= link_to image_tag("map.png", :border=>0), {:controller => "events", :action => "map", :id => event}, :title => "Show #{truncate(event.name, :length => 15)} map"
      %td= link_to image_tag("show.png", :border=>0), event, :title => "Show"
      %td= link_to image_tag("edit.png", :border=>0), edit_event_path(event), :title => "Edit"
      %td= link_to image_tag("delete.png", :border=>0), event, :confirm => 'Are you sure?', :method => :delete, :title => "Delete"