%h1
  =image_tag("date.png", :border=>0)
  Youth Conferences


 

.seperator_more

%table#events
  -for event in @events
    %tr{:class => cycle("even", "odd")}        
      %td.name= h event.name
      %td.etype= h event.event_type
      %td.edate= h(format_date(event.event_date))
      -#%td= h event.description
      -#%td= h event.location
      %td= link_to image_tag("map.png", :border=>0), :controller => "events", :action => "map", :id => event
      %td= link_to image_tag("show.png", :border=>0), event, :title => "Show"
      %td= link_to image_tag("edit.png", :border=>0), edit_event_path(event), :title => "Edit"
      %td= link_to image_tag("delete.png", :border=>0), event, :confirm => 'Are you sure?', :method => :delete, :title => "Delete"