#event_header
  %h1.show
    =image_tag("date.png", :border=>0)
    Showing
    %span#event_title
      = "\'" + @event.name + "\'"
  %span#event_controls    
    = link_to image_tag("arrow_left.png", :border=>0) + "Back", events_path
    = link_to image_tag("edit.png", :border=>0) + "Edit", edit_event_path(@event), :title => "Edit \'#{truncate(@event.name, :length => 15)}\'"
    = link_to image_tag("delete.png", :border=>0) + "Delete", @event, :confirm => 'Are you sure?', :method => :delete, :title => "Delete \'#{truncate(@event.name, :length => 15)}\'"
  = "&nbsp;"
  
.seperator_more

%div#vevent
  %p
    %b Name:
    %span.summary
      =h @event.name
    
  %p
    %b Type:
    %span.category
      =h @event.event_type
    
  %p
    %b Website:
    %span.url
      =h @event.website

  %p
    %b Description:
    %span.description
      =h @event.description

  %p
    %b Location:
    %span.location
      =h @event.location

  %p
    %b Starts:
    %span.dtstart
      =h @event.event_date
    
  %p
    %b Ends:
    %span.dtend
      =h @event.end_date
      
  -unless @event.price.blank?
    %p
      %b Price:
      %span.price
        =h @event.price
        
  -unless @event.user_id.nil?
    %p
      %b Created By:
      %span.created_by
        =@event.user.login
  
  -if @event.user.admin == true
    %p
      %b Admin?:
      %span.admin
        = current_user.admin
    
.map
  =draw_map @map, 500, 300








